.projects {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-shrink: 0;
  border: 1px solid red;
  width: 250px;
}

.projects__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.projects__item {
  border: 1px solid black;
}
