@font-face {
  font-family: 'RobotoRegular';
  src: url('../../assets/fonts/Roboto-Regular.ttf') format('truetype');
}

:root {
  /* Colors */
  --sidebar-bg: #eeeeee;
  --sidebar-selected: #b1b1b1;
  --sidebar-hover: #dadada;

  /* Sizes */
  --sidebar-width: 300px;
}

.projects {
  display: flex;
  flex-direction: column;
  width: var(--sidebar-width);
  min-width: var(--sidebar-width);
  box-shadow: 2px 0px 8px #bbbbbb;
  font-family: 'RobotoRegular';
  background-color: var(--sidebar-bg);
  gap: 10px;
  z-index: 1;
}

/* Sidebar menu top */

.projects__title-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid var(--sidebar-selected);
}

.projects__menu-title {
  font-size: 48px;
}

.projects__menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-image: url(../../assets/images/hamburger-icon.svg);
  background-size: cover;
  border-radius: 5px;
}

.projects__menu-btn:hover {
  background-color: var(--sidebar-hover);
  cursor: pointer;
}

.projects__menu-icon {
  width: 48px;
  height: 48px;
}

/* Sidebar items */

.projects__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  font-family: RobotoRegular;
}

.projects__item_selected {
  background-color: var(--sidebar-selected);
}

.projects__item-title {
  font-size: 32px;
}

.projects__delete-btn {
  width: 48px;
  height: 48px;
  background-image: url(../../assets/images/delete-outline.svg);
  background-size: cover;
  border-radius: 5px;
}

.projects__delete-btn:hover {
  background-color: var(--sidebar-hover);
  cursor: pointer;
}

/* Sidebar new item input */

.projects__new-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  font-family: RobotoRegular;
}

.projects__new-item-input {
  border: none;
  background-color: #dddddd;
  width: 200px;
  height: 32px;
  border-radius: 5px;
  font-size: 18px;
  padding: 0 5px;
}

.projects__add-btn {
  width: 48px;
  height: 48px;
  background-image: url(../../assets/images/plus.svg);
  background-size: cover;
  border-radius: 5px;
}

.projects__add-btn:hover {
  background-color: var(--sidebar-hover);
  cursor: pointer;
}
