@font-face {
  font-family: 'RobotoRegular';
  src: url('../../assets/fonts/Roboto-Regular.ttf') format('truetype');
}

:root {
  --project-info-bg: #b7b0ff;
  --tasks-bg: #d9d9d9;
  --task-item-bg: #eeeeee;
  --add-task-btn: #91ec36;
  --add-task-btn-hover: #85da31;
  --cancel-btn: rgb(223, 60, 60);
  --cancel-btn-hover: rgb(206, 54, 54);
  --border-gray: #acacac;

  --info-bar-height: 150px;
}

/* Parent container for tasks and current project info */

.tasks {
  width: 100%;
  background-color: var(--tasks-bg);
  font-family: RobotoRegular;
}

/* Project info */

.tasks__project-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  height: var(--info-bar-height);
  background-color: var(--project-info-bg);
  border-bottom: 1px solid gray;
}

.tasks__project-title {
  font-size: 48px;
}

/* Parent container for task operations */

.tasks__view {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  height: calc(100vh - var(--info-bar-height));
  overflow: auto;
}

/* Add task button */

.tasks__add-task-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-gray);
  border-radius: 5px;
  background-color: var(--add-task-btn);
  width: fit-content;
  height: 48px;
  padding: 0;
  padding-right: 10px;
}

.tasks__add-task-btn:hover {
  background-color: var(--add-task-btn-hover);
}

.tasks__add-task-icon {
  height: 80%;
}

.tasks__add-task-text {
  font-size: 18px;
}

/* Task list and items */

.tasks__list {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.tasks__item {
  display: grid;
  grid-template-columns: 20px 1fr auto auto;
  border-radius: 5px;
  background-color: var(--task-item-bg);
  width: min(100%, 800px);
  box-shadow: 5px 5px 5px #c2c2c2;
}

.tasks__item:hover {
  outline: 2px solid rgb(147, 147, 255);
  cursor: pointer;
}

.tasks__no-task {
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--task-item-bg);
  width: fit-content;
}

/* Item card styling */

.item__title {
  display: flex;
  align-items: center;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-size: 20px;
  padding: 5px;
  max-width: 40ch;
}

.item__date {
  display: flex;
  align-items: center;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  font-size: 20px;
  padding: 5px;
}

.item__description {
  display: flex;
  align-items: center;
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  color: rgb(54, 54, 54);
  padding: 5px;
  max-width: 80%;
  hyphens: auto;
  word-break: break-word;
}

.item__close-btn {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  width: 32px;
  height: 32px;
  background-image: url(../../assets/images/close.svg);
  background-size: cover;
  border-radius: 5px;
}

.item__close-btn:hover {
  background-color: #dbdbdb;
}

.item__tab {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.item__tab_red {
  background-color: rgb(255, 75, 75);
}

.item__tab_yellow {
  background-color: rgb(251, 255, 44);
}

.item__tab_green {
  background-color: rgb(86, 255, 44);
}

/* New task inputs */

.new-task__inputs {
  display: grid;
  width: fit-content;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;
  min-width: max-content;
}

.new-task__title {
  padding: 5px;
  border: 1px solid var(--border-gray);
  border-radius: 5px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.new-task__title_invalid {
  outline: 2px solid red;
}

.new-task__description {
  padding: 5px;
  border: 1px solid var(--border-gray);
  border-radius: 5px;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.new-task__date {
  border: 1px solid var(--border-gray);
  border-radius: 5px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  height: 100%;
}

.new-task__priority {
  border: 1px solid var(--border-gray);
  border-radius: 5px;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  height: 100%;
}

.new-task__accept-btn {
  border: 1px solid var(--border-gray);
  border-radius: 5px;
  background-color: var(--add-task-btn);
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  height: 100%;
}

.new-task__accept-btn:hover {
  background-color: var(--add-task-btn-hover);
}

.new-task__cancel-btn {
  border: 1px solid var(--border-gray);
  border-radius: 5px;
  background-color: var(--cancel-btn);
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  height: 100%;
}

.new-task__cancel-btn:hover {
  background-color: var(--cancel-btn-hover);
}

/* Used to hide elements */

.hidden {
  display: none;
}
